<!DOCTYPE html>
<html>
<head>
    <title>Book list</title>
</head>
<body>
    <h4><a href="add_book.html"> Add book </a></h4>
    <h3>List of books:</h3>
    <ul>
        <% for (book of books) {%>
        <form method="post" action="/borrow_book">
            <h4>
                <%= book.id %> - <%= book.name %> - <%= book.author %> - count available: <span id="book_count_<%= book.id %>"><%= book.count %></span>
                <input type="text" name="book_id" value="<%= book.id %>" hidden="true">
                <input type="submit" value="Borrow">
            </h4>
        </form>
        <%}%>
    </ul>

    <script type="text/javascript">
        var ws = new WebSocket("ws://localhost:8080");
        ws.onopen = function() {
            console.log('websockets connected to server');
            ws.send('hello from client');
        };

        ws.onmessage = function (evt) {
            var msg = JSON.parse(evt.data);
            console.log("Message received:", msg);
            document.getElementById('book_count_' + msg.book_id).innerHTML = msg.book_count
        };
    </script>

</body>
</html>
